# IDEs
.vscode/
.idea/
.fleet/

# Virtualenv
venv/
env/

# cache
**/**/__pycache__/
src/nester/__pycache__/
src/nester/**/__pycache__/
test/__pycache__/
.pytest_cache/

# pytest coverage
.coverage

# build information
**/**/__nester_struct.egg-info/
src/nester_struct.egg-info/
src/Nester.egg-info/
src/nester.egg-info/
build/
docs/_build/
