[MASTER]
disable=line-too-long, unnecessary-pass, f-string-without-interpolation, no-name-in-module
ignore-paths=docs, tests
# enable=unused-import, undefined-variable, trailing-whitespace, wildcard-import, import-error
